
<ion-header>
  <ion-row>
    <ion-col text-start padding-top>
      <ion-title>Google Map</ion-title>
    </ion-col>
    <ion-col text-end>
      <ion-button (click)="getMarkers()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        getMarkers
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>


<ion-list>
  <ion-item>
    <ion-input (click)="showAddressModal()" [(ngModel)]="address.place"type="text" placeholder="Pick an address">              </ion-input>
  </ion-item>
</ion-list>

  <div class="map-wrapper">
   
    <div #map id="map"></div>
  </div>



</ion-content>
