<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>Find truck drivers</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="card">
    <ion-row>
      <ion-col>
        <div class="companies" *ngFor="let c of drivers_list">
          <div class="left_">
            <div class="profile_pic">
              <img
                src="../../assets/icon/favicon.png"
                class="profile_pic_img"
              />
            </div>
            <div class="username">
              {{c.username}}
            </div>
            <div class="email">
              {{c.email}}
            </div>
          </div>

          <div class="right_">
            <div class="txts">
              <div class="truck_type">
                <p class="TruckTxt">{{c.TruckType}}</p>
                <img src="../../assets/icon/favicon.png" class="truckImg" />
              </div>

              <p class="TruckTxt">{{c.TruckNumber}}</p>
              <p class="TruckTxt">{{c.TruckOwnerMobile}}</p>
              <p class="TruckTxt">{{c.RouteOperate}}</p>
              <p class="TruckTxt">{{c.PermitState}}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
